@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	background: transparent;
}

img.unselectable {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
	overflow: auto;
}

img.unselectable::after {
	content: "";
	clear: both;
	display: table;
}

.home-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1vw;
	/* flex-wrap: wrap; */
	height: 100vh;
	padding: 2.4vw;
	/* background-image: linear-gradient(to right bottom, #051937, #00476e, #007b9f, #00b2c2, #12ebd5); */
	/* background-image: linear-gradient(to right top, #051937, #163d5d, #2e6481, #4c8ea4, #71bac5, #c0f6ff, #d4f6ff, #e6f6ff, #fff, #fff, #fff, #fff, #fff, #fff); */
	background-image: linear-gradient(to right, #163d5d, #2e6481, #4c8ea4, #71bac5, #c0f6ff, #d4f6ff, #e6f6ff, #fff, #fff, #fff, #fff, #fff);
}

.bio-text-wrapper {
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 2vw;
	justify-content: center;
	flex-wrap: nowrap;
	line-height: 0.9;
	width: 40vw;
}

.bioTitle {
	font-size: 10vw;
	font-family: Arial, Helvetica, sans-serif;
}

.bioSubTitle {
	font-size: 2vw;
}

.bolder {
	font-weight: bolder;
	font-family: Georgia, "Lucida Console", monospace;
}

.blink-cursor::after {
	content: "";
	display: inline-block;
	width: 0.1em; /* cursor thickness relative to text */
	height: 1em; /* match text height */
	background: currentColor;
	margin-left: 0.1em;
	vertical-align: -0.1em; /* small adjustment based on font */
	animation: blink 0.7s steps(1) infinite;
}

.bio-img-wrapper {
	align-items: center;
	max-width: clamp(140px, 100vw, 500px);
	width: 100%;
	height: auto;
	border-radius: 50%;
	object-fit: cover;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Responsive breakpoint */
@media (max-width: 768px) {
	.home-wrapper {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 2vw;
	}
}
